<div class="container">
  <h1 class="title">Configure Your Countdown!</h1>
  <div class="fields">
    <div class="label">
      <label for="eventName">Event Name </label>
      <input
        id="eventName"
        class="field"
        type="text"
        [formControl]="eventName"
      />
    </div>
    <div class="label-group">
      <div class="label">
        <label class="label" for="eventDate">Event Date </label>
        <input
          id="eventDate"
          class="field"
          type="datetime-local"
          [formControl]="eventDate"
        />
      </div>
      <div class="label">
        <label>Theme</label>
        <div class="content">
          <div class="switch">
            <input
              id="theme"
              type="checkbox"
              class="switch-input"
              [formControl]="useAlternateTheme"
            />
            <label for="theme" class="switch-label"></label>
          </div>
          <div class="switch-text">{{ this.getThemeText }}</div>
        </div>
      </div>
      <div class="label">
        <label>Display</label>
        <div class="content">
          <div class="switch">
            <input
              id="display"
              type="checkbox"
              class="switch-input"
              [formControl]="display"
            />
            <label for="display" class="switch-label"></label>
          </div>
          <div class="switch-text">{{ this.displayValue }} View</div>
        </div>
      </div>
    </div>
  </div>
  <div class="actions">
    <button class="button" href="#" (click)="onOpen()">Open</button>
  </div>
</div>
