<div class="container" *ngIf="data">
  <div class="time-zone-name">{{ data.timeZoneName }}</div>
  <div *ngIf="!celebrate">
    <div class="text">will celebrate {{ eventName }} in:</div>
    <div class="duration">
      <div class="unit days" *ngIf="data.duration.days">
        <div class="unit-value">{{ data.duration.days }}</div>
        <div class="unit-label">Days</div>
      </div>
      <div class="unit hours" *ngIf="data.duration.hours">
        <div class="unit-value">{{ data.duration.hours }}</div>
        <div class="unit-label">Hours</div>
      </div>
      <div class="unit minutes" *ngIf="data.duration.minutes">
        <div class="unit-value">{{ data.duration.minutes }}</div>
        <div class="unit-label">Minutes</div>
      </div>
      <div class="unit seconds">
        <div class="unit-value">
          {{ data.duration.seconds | number: "1.0-0" }}
        </div>
        <div class="unit-label">Seconds</div>
      </div>
    </div>
  </div>
  <div *ngIf="celebrate">
    <div class="text celebrate rainbow_text_animated">
      Happy {{ eventName }}!
    </div>
  </div>
  <div class="current-time">
    {{ data.primaryDateTime | dateTime }}
  </div>
</div>
