<div *ngIf="countdownTime$">
  <div class="header">{{ (countdownTime$ | async).offset }}</div>
  <div class="header">will celebrate New Years in</div>
  <div class="container">
    <div class="item">
      <div class="item-number">{{ (countdownTime$ | async).days }}</div>
      <div class="item-text">Days</div>
    </div>
    <div class="item">
      <div class="item-number">{{ (countdownTime$ | async).hours }}</div>
      <div class="item-text">Hours</div>
    </div>
    <div class="item">
      <div class="item-number">{{ (countdownTime$ | async).minutes }}</div>
      <div class="item-text">Minutes</div>
    </div>
    <div class="item">
      <div class="item-number">{{ (countdownTime$ | async).seconds }}</div>
      <div class="item-text">Seconds</div>
    </div>
  </div>
</div>
