/* You can add global styles to this file, and also import other style files */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
:root {
  --clr-teal: #32857f;
  --clr-orange: #e58110;

  --bg-teal: url(/assets/teal-dots.svg);
  // viewBox="0 0 1765.35 986"

  --bg-orange: url(/assets/orange-lines.svg);
  // default viewbox: 0 0 2472 1081.83

  --clr-bg: var(--clr-orange);
  --bg-img: var(--bg-orange);
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

@font-face {
  font-family: "MADE Tommy Soft";
  src: url(/assets/font/tommy-soft-regular.otf) format("opentype");
  font-weight: 400;
  font-size: normal;
}
@font-face {
  font-family: "MADE Tommy Soft";
  src: url(/assets/font/tommy-soft-bold.otf) format("opentype");
  font-weight: 700;
  font-size: bold;
}

html {
  font-size: 2vw;
}

body {
  font-family: "MADE Tommy Soft";
  font-weight: 400;
  background-color: var(--clr-bg);
}
